<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader"><span [innerHTML]="'SpeciesSelectionPage.pageTitle' | translate"></span></h1></div></div>
        </div>
        <div class="col-12"><span [innerHTML]="'SpeciesSelectionPage.intro' | translate"></span></div>
    </div>

    <div class="row pt-3">
        <div class="col-2">
            <label for="taxonomy" [innerHTML]="'SpeciesSelectionPage.taxonomyInputLabel' | translate"></label>
        </div>
        <div class="col-8">
            <ng-select [items]="taxonomy$ | async"
             id="taxonomy"
             bindLabel="key"
             bindValue="key"
             [hideSelected]="true"
             [minTermLength]="2"
             [loading]="taxonomyLoading"
             typeToSearchText="Please type here"
             [typeahead]="taxonomyInput$"
             (change)="onChangeTaxonomy($event)"
             [(ngModel)]="selectedTaxonomy">
            </ng-select>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-2">
            <label for="specie" [innerHTML]="'SpeciesSelectionPage.specieInputLabel' | translate"></label>
        </div>
        <div class="col-8 font-italic">
            <ng-select [items]="specie$ | async"
             id="specie"
             bindLabel="key"
             bindValue="alphaCode"
             [hideSelected]="true"
             [minTermLength]="2"
             [loading]="specieLoading"
             typeToSearchText="Please type here"
             [typeahead]="specieInput$"
             (change)="onChangeSpecie($event)"
             [(ngModel)]="selectedSpecie">
            </ng-select>
        </div>
    </div>

</div>


