<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="csc-default">
                <div class="csc-header csc-header-n1">
                    <h1 class="csc-firstHeader" *ngIf="!selectedCountry" [innerHTML]="'usePage.pageTitle' | translate"></h1>
                    <h1 class="csc-firstHeader" *ngIf="selectedCountry" [innerHTML]="'usePage.pageTitleWithCountry' | translate"></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" [innerHTML]="'usePage.introText' | translate"></div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader"></h1></div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="sticky-top">
                <app-filters [(filterValues)]="filterValues" [aggregationsTypes]="['continents', 'regions', 'countries', 'taxonomies', 'species']" (search)="searchAggregation($event)"></app-filters>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">


            <div class="container mw-100 p-0" *ngIf="reloadCharts">

                <div class="row">
                    <div class="col-12">
                        <app-search-pill *ngIf="isAllVisibleAccordionCollapsed(accordionsProps)" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)"> </app-search-pill>                
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 pb-4 text-right">
                        <a href="javascript:" class="font-weight-bold text-left pr-3" (click)="expandAllAccordionOnClick()">
                            <i class="material-icons md-18 align-bottom">unfold_more</i>
                            {{'usePage.expandBtn' | translate}}
                        </a>
                        <a href="javascript:" class="font-weight-bold text-left" (click)="collapseAllAccordionOnClick()">
                            <i class="material-icons md-18 align-bottom">unfold_less</i>
                            {{'usePage.collapseBtn' | translate}}
                        </a>
                    </div>
                </div>

                <app-accordion01 [(isOpen)]="accordionsProps[0].isOpen" *ngIf="accordionsProps[0].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.common-chart05' | translate"></div>
                    <div body><app-common-chart05 *ngIf="accordionsProps[0].isOpen && accordionsProps[0].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.common-chart05' | translate"></app-common-chart05></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[1].isOpen" *ngIf="accordionsProps[1].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.common-chart08' | translate"></div>
                    <div body><app-common-chart08 *ngIf="accordionsProps[1].isOpen && accordionsProps[1].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.common-chart08' | translate"></app-common-chart08></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[2].isOpen" *ngIf="accordionsProps[2].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart03' | translate"></div>
                    <div body><app-use-chart03 *ngIf="accordionsProps[2].isOpen && accordionsProps[2].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart03' | translate"></app-use-chart03></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[3].isOpen" *ngIf="accordionsProps[3].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.common-chart04' | translate"></div>
                    <div body><app-common-chart04 *ngIf="accordionsProps[3].isOpen && accordionsProps[3].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.common-chart04' | translate"></app-common-chart04></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[4].isOpen" *ngIf="accordionsProps[4].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.common-chart09' | translate"></div>
                    <div body><app-common-chart09 *ngIf="accordionsProps[4].isOpen && accordionsProps[4].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.common-chart09' | translate"></app-common-chart09></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[5].isOpen" *ngIf="accordionsProps[5].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart06' | translate"></div>
                    <div body><app-use-chart06 *ngIf="accordionsProps[5].isOpen && accordionsProps[5].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart06' | translate"></app-use-chart06></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[6].isOpen" *ngIf="accordionsProps[6].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart07' | translate"></div>
                    <div body><app-use-chart07 *ngIf="accordionsProps[6].isOpen && accordionsProps[6].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart07' | translate"></app-use-chart07></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[7].isOpen" *ngIf="accordionsProps[7].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart08' | translate"></div>
                    <div body><app-use-chart08 *ngIf="accordionsProps[7].isOpen && accordionsProps[7].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart08' | translate"></app-use-chart08></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[8].isOpen" *ngIf="accordionsProps[8].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart09' | translate"></div>
                    <div body><app-use-chart09 *ngIf="accordionsProps[8].isOpen && accordionsProps[8].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart09' | translate"></app-use-chart09></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[9].isOpen" *ngIf="accordionsProps[9].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart10' | translate"></div>
                    <div body><app-use-chart10 *ngIf="accordionsProps[9].isOpen && accordionsProps[9].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart10' | translate"></app-use-chart10></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[10].isOpen" *ngIf="accordionsProps[10].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart11' | translate"></div>
                    <div body><app-use-chart11 *ngIf="accordionsProps[10].isOpen && accordionsProps[10].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart11' | translate"></app-use-chart11></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[11].isOpen" *ngIf="accordionsProps[11].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart12' | translate"></div>
                    <div body><app-use-chart12 *ngIf="accordionsProps[11].isOpen && accordionsProps[11].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart12' | translate"></app-use-chart12></div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[12].isOpen" *ngIf="accordionsProps[12].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header [innerHTML]="'usePage.use-chart13' | translate"></div>
                    <div body><app-use-chart13 *ngIf="accordionsProps[12].isOpen && accordionsProps[12].isVisible" [filterValues]="filterValues" [exportTitle]="'usePage.use-chart13' | translate"></app-use-chart13></div>
                </app-accordion01>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1 offset-11">
            <ngx-scrolltop backgroundColor="#0d6cac"></ngx-scrolltop>
        </div>
    </div>

</div>


