<div class="row">
    
<div class="col-12 font-weight-bold h6 text-left pt-5">
    List of species farmed by the country
</div>

</div>

<div class="row p-2">

    <div class="col-5 h2 pl-2">
        {{totalProd}} tonnes
    </div>

    <div class="col-7">
        <ul>
            <li *ngFor="let t of speciesData" class="pb-3">
                <!-- TODO: set the correct a href to the species table-->
                <a class="font-weight-bold h6" href="#">{{t.Name}}</a>
                <div class="">
                    <span *ngFor="let s of t.Species; let first = first; let last = last; let i=index">{{s.Name}}{{(!last)?", ":""}}</span>
                </div>
            </li>
        </ul>
    </div>
    
</div>
