<div class="row">
    
<div class="col-12 font-weight-bold h6 text-left pt-5">
    List of species farmed by the country
</div>

</div>

<div class="row p-2">

    <div class="col-4 h2 pl-2">
        {{totalProduction}}<br>tonnes
    </div>

    <div class="col-8">
        <ul>
            <li *ngFor="let t of speciesData" class="pb-3">
                <a class="font-weight-bold h6" href="" (click)="onTaxonomyClickEvent.emit(t.Name); false">{{t.Name}}</a>
                <div class="">
                    <i *ngFor="let s of t.Species; let first = first; let last = last; let i=index">{{s.Name}}{{(!last)?", ":""}}</i>
                </div>
            </li>
        </ul>
    </div>
    
</div>
