<div class="row pt-5">

    <div class="col-7 font-weight-bold h6 text-left">
        List of species farmed by the country
    </div>

    <div class="col-5">
            <div class="bg-white border border-dark float-right mb-3 mr-0 p-3 rounded shadow">
                Total aquaculture production = {{totalProduction}} tonnes
            </div>
    </div>

</div>

<div class="row p-2">


    <div class="col-12">
        <ul>
            <li *ngFor="let t of speciesData" class="pb-3">
                <a class="font-weight-bold h6" href="" (click)="onTaxonomyClickEvent.emit(t.name); false">{{t.name}}</a>
                <div class="">
                    <i *ngFor="let s of t.species; let first = first; let last = last; let i=index">{{s.name}}{{(!last)?", ":""}}</i>
                </div>
            </li>
        </ul>
    </div>

</div>
