<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Data on Farmed Types</h1></div></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            At this stage of its development the prototype Registry questionnaire does not include questions related to national policy, institutions or capacity with the exception of one question related to controls on access to AqGR. The data related to this question is covered in the first two graphic items. The remaining graphic items presented on this page are based on data collected from Country Reports as part of the preparation of the Report on the State of the World’s Aquatic Genetic Resources for Food and Agriculture published in August 2019. This information refers to legislation and policy that relates to or impacts upon AqGR including controls on their use and exchange. Information is also provided on the numbers and focus of institutions involved in Research and Education related to AqGR. 
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="sticky-top">
                <app-filters [(filterValues)]="filterValues" [aggregationsTypes]="['continents', 'regions', 'countries', 'taxonomies', 'species', 'ftypes', 'sftypes']" (search)="searchAggregation($event)"></app-filters>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">

            <div class="container mw-100 p-0" *ngIf="reloadCharts">

                <div class="row">
                    <div class="col-12">
                        <app-search-pill *ngIf="isAllVisibleAccordionCollapsed(accordionsProps)" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)"> </app-search-pill>                
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 pb-4 text-right">
                        <a href="javascript:" class="font-weight-bold text-left pr-3" (click)="expandAllAccordionOnClick()">
                            <i class="material-icons md-18 align-bottom">unfold_more</i>
                            Expand all
                        </a>
                        <a href="javascript:" class="font-weight-bold text-left" (click)="collapseAllAccordionOnClick()">
                            <i class="material-icons md-18 align-bottom">unfold_less</i>
                            Collapse all
                        </a>
                    </div>
                </div>

                <app-accordion01 [(isOpen)]="accordionsProps[0].isOpen" *ngIf="accordionsProps[0].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header> Number of species under control measures by continent </div>
                    <div body>
                        <div class="mb-3">
                            The Registry questionnaire asks, for each country, if there are any species-specific controls on conservation, management and use of this species and where controls exist, to identify whether these controls apply to trade (export/import), the environment and biodiversity conservation and/or legislation on the use of wild relatives in fisheries and aquaculture?
                        </div>
                        <app-policies-chart01 *ngIf="accordionsProps[0].isOpen && accordionsProps[0].isVisible" [filterValues]="filterValues" exportTitle=" Number of species under control measures "></app-policies-chart01>
                    </div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[1].isOpen" *ngIf="accordionsProps[1].isVisible" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header> Number of species under control measures by taxonomic category</div>
                    <div body>
                        <div class="mb-3">
                            The Registry questionnaire asks, for each country, if there are any species-specific controls on conservation, management and use of this species and where controls exist, to identify whether these controls apply to trade (export/import), the environment and biodiversity conservation and/or legislation on the use of wild relatives in fisheries and aquaculture?
                        </div>
                        <app-policies-chart02 *ngIf="accordionsProps[1].isOpen && accordionsProps[1].isVisible" [filterValues]="filterValues" exportTitle=" Number of species under control measures "></app-policies-chart02>
                    </div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[2].isOpen" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header>Proportion of policy areas addressed by national policy</div>
                    <div body>
                    <app-policies-chart03 *ngIf="accordionsProps[2].isOpen" [filterValues]="filterValues" exportTitle="Proportion of policy areas addressed by national policy"></app-policies-chart03>
                        <div class="mb-3">
                            Note: The graphic item is based on country responses in their Country Reports identifying national polices that address one or more of these AqGR related policy areas and represents the proportion of the reported policies which address each area. 
                        </div>
                    </div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[3].isOpen" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header>Research institutions and the issues addressed by them</div>
                    <div body>
                        <app-policies-chart04 *ngIf="accordionsProps[3].isOpen" [filterValues]="filterValues" exportTitle="Research institutions and the issues addressed by them"></app-policies-chart04>
                        <div class="mb-3">Note: The chart shows the total number of research institutions for the geographic area and a breakdown of the research issues they cover.</div>
                    </div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[4].isOpen" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header>Educational institutions and the issues addressed by them</div>
                    <div body>
                        <app-common-chart14 *ngIf="accordionsProps[4].isOpen" [filterValues]="filterValues" exportTitle="Educational institutions and the issues addressed by them"></app-common-chart14>
                        <div class="mb-3">Note: The chart shows the total number of education and training institutions for the geographic area and a breakdown of the issues they cover.</div>
                    </div>
                </app-accordion01>

                <app-accordion01 [(isOpen)]="accordionsProps[5].isOpen" [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    <div header>Educational institutions and the levels of education delivered by them</div>
                    <div body>
                        <app-common-chart15 *ngIf="accordionsProps[5].isOpen" [filterValues]="filterValues" exportTitle="Educational institutions and the levels of education delivered by them"></app-common-chart15>
                        <div class="mb-3">Note: The chart shows the total number of education and training institutions for the geographic area and a breakdown of the levels of education they deliver.</div>
                    </div>
                </app-accordion01>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1 offset-11">
            <ngx-scrolltop backgroundColor="#0d6cac"></ngx-scrolltop>
        </div>
    </div>

</div>


