<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Filters:</h1></div></div>
            <app-spec-filter [(selectedElements)]="selectedSpecies"></app-spec-filter>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Fishstat data:</h1></div></div>
            <app-fish-stat-table 
                [data]="fishTableData" 
                [columns]="['FAO Area', 'Species', 'FTypes', 'Strains', 'Captive', 'Wild']" 
                >
            </app-fish-stat-table>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
