<div class="row">

    <div class="col-12">
        <app-tree-table [data]="data" [columns]="['Species', 'Total production in tonnes '+lastTimeseriesYear, 'Primary farmed types', 'Secondary farmed types', 'Native']" [enableTotal]="false" >
            <ng-template #firstFieldAppendTpl let-element>
                <a [routerLink]="['/specie',element['alphaCode']]" *ngIf="element['alphaCode']" routerLinkActive="router-link-active"><fa-icon [icon]="faChartPie"></fa-icon></a>
            </ng-template>
        </app-tree-table>
    </div>
    
</div>
