<!-- <div class="row"> -->
<!--  -->
<!--     <div class="col&#45;12"> -->
<!--         <app&#45;tree&#45;table [data]="data" [columns]="['Species', 'Total production in tonnes '+lastTimeseriesYear, 'Primary farmed types', 'Secondary farmed types', 'Native']" [enableTotal]="false" > -->
<!--             <ng&#45;template #firstFieldAppendTpl let&#45;element> -->
<!--                 <a [routerLink]="['/specie',element['alphaCode']]" *ngIf="element['alphaCode']" routerLinkActive="router&#45;link&#45;active"><fa&#45;icon [icon]="faChartPie"></fa&#45;icon></a> -->
<!--             </ng&#45;template> -->
<!--         </app&#45;tree&#45;table> -->
<!--     </div> -->
<!--      -->
<!-- </div> -->
