<div class="container mw-100">
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-white border border-dark col-sm-4 float-right mb-3 ml-3 p-3 rounded shadow" [innerHTML]="'homePage.infoBox' | translate"></div>
            <span [innerHTML]="'homePage.intro.0' | translate:globalInfoData"></span>
            <a [routerLink]="['/world']" routerLinkActive="router-link-active">{{"homePage.developmentLink" | translate}}</a>, <a [routerLink]="['/use']" routerLinkActive="router-link-active">{{"homePage.useLink" | translate}}</a> and <a [routerLink]="['/policies']" routerLinkActive="router-link-active">{{"homePage.policiesLink" | translate}}</a><span [innerHTML]="'homePage.intro.1' | translate:globalInfoData"></span>
            <span [innerHTML]="'homePage.intro.2' | translate:globalInfoData"></span><a [routerLink]="['/country']" routerLinkActive="router-link-active">{{"homePage.countryFactSheetLink" | translate}}</a> or <a [routerLink]="['/specie']" routerLinkActive="router-link-active">{{"homePage.speciesFactSheetLink" | translate}}</a>
        </div>
    </div>
        
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader" [innerHTML]="'homePage.pageTitle' | translate"></h1></div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="sticky-top">
                <app-filters [(filterValues)]="filterValues" [aggregationsTypes]="['taxonomies', 'species', 'ftypes', 'sftypes']" (search)="searchAggregation($event)"></app-filters>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="col-sm-12 col-md-12 pl-0">
                <div class="mb-4" *ngIf="filterValues && filterValues.length > 0">
                    <app-search-pill [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    </app-search-pill>                
                </div>
            </div>

            <app-fish-stat-table [filterValues]="filterValues"> </app-fish-stat-table>

            <br>

            <div class="col-sm-12 col-md-12 pl-0">
                <div class="mb-4" *ngIf="filterValues && filterValues.length > 0">
                    <app-search-pill [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
                    </app-search-pill>                
                </div>
            </div>

            <div class="container mw-100 p-0" *ngIf="reloadCharts">
                <div class="row text-center">
                    <div class="col-sm-12 p-0" [ngClass]="{'col-md-6':!selectedSftype}">
                        <div *ngIf="!selectedFtype">
                            <h6 class="" [innerHTML]="'homePage.chart01' | translate"></h6>
                            <app-common-chart01 [filterValues]="filterValues" height="200" exportTitle="Proportion of primary farmed types entered"></app-common-chart01>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 p-0" [ngClass]="{'col-md-6':!selectedFtype}">
                        <div *ngIf="!selectedSftype">
                            <h6 class="" [innerHTML]="'homePage.chart02' | translate"></h6>
                            <app-common-chart02 [filterValues]="filterValues" height="200" exportTitle="Proportion of secondary farmed types entered"></app-common-chart02>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!selectedTaxonomy && !selectedSpecie">
                    <h6 class="mt-5" [innerHTML]="'homePage.chart03' | translate"></h6>
                    <div class="col-sm-12 col-md-12 p-0">
                        <app-countries-chart03 [filterValues]="filterValues" exportTitle="Number of species (based on reports by country) contained in the Registry"></app-countries-chart03>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
                <div class="row">
                    <div class="col-sm-12" [innerHTML]="'homePage.footer' | translate"></div>
                </div>
</div>


