<div class="container mw-100">
                <!-- TODO: put the text introduction -->
                <!-- TODO: add SearchPillComponent -->
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Filters:</h1></div></div>

            <!-- <div class="mb&#45;4"> -->
            <!--     <app&#45;search&#45;pill *ngIf="filterValues &#38;&#38; filterValues.length > 0" [filterValues]="filterValues" (resetFilterCriteriaEvent)="resetFilter($event)"> -->
            <!--     </app&#45;search&#45;pill>                 -->
            <!-- </div> -->

            <h5>Refine search</h5>
            <p></p>
            <app-filters (search)="searchAggregation($event)"></app-filters>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">AqGR Farmed types data:</h1></div></div>
            <app-fish-stat-table [filterValues]="filterValues"> </app-fish-stat-table>

                <br>
                <br>

                <!-- <div class="csc&#45;default"><div class="csc&#45;header csc&#45;header&#45;n1"><h1 class="csc&#45;firstHeader">Numer of primary farmed types entered into the Registry:</h1></div></div> -->
                <div class="container mw-100 p-0">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 p-0">
                            <app-countries-chart01></app-countries-chart01>
                        </div>
                        <div class="col-sm-12 col-md-3 p-0">
                            <app-countries-chart02></app-countries-chart02>
                        </div>
                        <div class="col-sm-12 col-md-6 p-0">
                            <app-countries-chart03></app-countries-chart03>
                        </div>
                    </div>
                </div>
        </div>
    </div>
                <!-- TODO: put footer text -->
</div>


