<div class="row mb-4">
    <div class="col-12">
        <a href="javascript:" class="font-weight-bold h5 text-left" (click)="toggleCollapse(isOpen)" [attr.aria-expanded]="isOpen" aria-controls="collapseBasic">
            <i class="material-icons md-18 align-bottom mr-1" *ngIf="isOpen">unfold_more</i>
            <i class="material-icons md-18 align-bottom mr-1" *ngIf="!isOpen">unfold_less</i>
            <ng-content select="[header]"></ng-content>
        </a>
    </div>
</div>

<div class="row" *ngIf="filterValues && filterValues.length > 0">

    <div class="col-sm-12 col-md-12">
        <div class="mb-4">
            <app-search-pill [filterValues]="filterValues" (resetFilterCriteriaEvent)="removeFilter($event)">
            </app-search-pill>                
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <div id="collapseBasic" [collapse]="!isOpen" [isAnimated]="true">
            <ng-content select="[body]"></ng-content>
        </div>

    </div>

</div>

