<div class="container mw-100" *ngIf="filterValues.length">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">AqGR Farmed types data of {{countryName}}:</h1></div></div>
        </div>
        <div class="col-12">
            This fact sheet presents a summary of the data entered into the Registry of Farmed Types of AqGR in Chiina relating to the conservation, sustainable used and management of AqGR in the country.  Data for {{countryName}} was last updated on {{ lastUpdate | date:defaultDateFormat}}.
        </div>
    </div>

    <app-species-list [filterValues]="filterValues" (onTaxonomyClickEvent)="speciesList_onTaxonomyClick($event)"></app-species-list>

    <app-accordion01 [(isOpen)]="isAccordion01open">
        <div header>Number of primary farmed types</div>
        <div body><app-common-chart12 *ngIf="isAccordion01open" [filterValues]="filterValues"></app-common-chart12></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion02open">
        <div header>Top 10 species for which farmed types are developed</div>
        <div body><app-common-chart13 *ngIf="isAccordion02open" [filterValues]="filterValues"></app-common-chart13></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion04open">
        <div header>Total number of primary farmed types</div>
        <div body> <app-common-chart01 [filterValues]="filterValues" *ngIf="isAccordion04open"></app-common-chart01> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion05open">
        <div header>Total number of secondary farmed types</div>
        <div body> <app-common-chart02 [filterValues]="filterValues" *ngIf="isAccordion05open"></app-common-chart02> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion06open">
        <div header>Production of farmed types</div>
        <div body> <app-common-chart06 [filterValues]="filterValues" *ngIf="isAccordion06open"></app-common-chart06> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion07open">
        <div header>Prevalence of non-native species</div>
        <div body> <app-common-chart05 [filterValues]="filterValues" *ngIf="isAccordion07open"></app-common-chart05> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion08open">
        <div header>Top 10 non-native species</div>
        <div body> <app-common-chart04 [filterValues]="filterValues" *ngIf="isAccordion08open"></app-common-chart04> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion09open">
        <div header>Number and effectiveness of Aquatic Protected Areas</div>
        <div body> <app-country-chart01 [filterValues]="filterValues" *ngIf="isAccordion09open"></app-country-chart01> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion10open">
        <div header>Number of in vivo and in vitro gene banks</div>
        <div body> <app-country-chart02 [filterValues]="filterValues" *ngIf="isAccordion10open"></app-country-chart02> </div>
    </app-accordion01>


    <app-accordion01 [(isOpen)]="isAccordion11open">
        <div header>Number of control measures applied</div>
        <div body><app-country-chart03 [filterValues]="filterValues" *ngIf="isAccordion11open"></app-country-chart03></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion12open">
        <div header>Number of policies affecting AqGR</div>
        <div body><app-country-chart04 [filterValues]="filterValues" *ngIf="isAccordion12open"></app-country-chart04></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion13open">
        <div header>Number of institutions supporting R&D on aquatic genetic resources</div>
        <div body></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion14open">
        <div header>Proportion of education areas addressed by insitutions</div>
        <div body></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion15open">
        <div header>Proportion of educational institutions offering training at different levels</div>
        <div body></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="isAccordion16open">
        <div header>Monitoring, characterising and developing AqGR</div>
        <div body> <app-country-table01 [filterValues]="filterValues" *ngIf="isAccordion03open"></app-country-table01> </div>
    </app-accordion01>

</div>


