<div class="container mw-100" *ngIf="filterValues.length">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="csc-default"><div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">AqGR Farmed types data of {{countryName}}:</h1></div></div>
        </div>
        <div class="col-12">
            This fact sheet presents a summary of the data entered into the Registry of Farmed Types of AqGR in Chiina relating to the conservation, sustainable used and management of AqGR in the country.  Data for {{countryName}} was last updated on {{ lastModifiedDate | date:defaultDateFormat}}.
        </div>
    </div>

    <app-species-list [filterValues]="filterValues" (onTaxonomyClickEvent)="speciesList_onTaxonomyClick($event)"></app-species-list>

    <div class="row">
        <div class="col-12 pb-4 text-right">
            <a href="javascript:" class="font-weight-bold text-left pr-3" (click)="expandAllAccordionOnClick()">
                <i class="material-icons md-18 align-bottom">unfold_more</i>
                Expand all
            </a>
            <a href="javascript:" class="font-weight-bold text-left" (click)="collapseAllAccordionOnClick()">
                <i class="material-icons md-18 align-bottom">unfold_less</i>
                Collapse all
            </a>
        </div>
    </div>

    <app-accordion01 [(isOpen)]="accordionsProps[00].isOpen">
        <div header>Number of primary farmed types</div>
        <div body><app-common-chart12 *ngIf="accordionsProps[00].isOpen" [filterValues]="filterValues" exportTitle="Number of primary farmed types"></app-common-chart12></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[01].isOpen">
        <div header>Top 10 species for which farmed types are developed</div>
        <div body><app-common-chart13 *ngIf="accordionsProps[01].isOpen" [filterValues]="filterValues" exportTitle="Top 10 species for which farmed types are developed"></app-common-chart13></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[03].isOpen">
        <div header>Total number of primary farmed types</div>
        <div body> <app-common-chart01 [filterValues]="filterValues" *ngIf="accordionsProps[03].isOpen" exportTitle="Total number of primary farmed types"></app-common-chart01> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[04].isOpen">
        <div header>Total number of secondary farmed types</div>
        <div body> <app-common-chart02 [filterValues]="filterValues" *ngIf="accordionsProps[04].isOpen" exportTitle="Total number of secondary farmed types"></app-common-chart02> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[05].isOpen">
        <div header>Production of farmed types</div>
        <div body> <app-common-chart06 [filterValues]="filterValues" *ngIf="accordionsProps[05].isOpen" exportTitle="Production of farmed types"></app-common-chart06> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[06].isOpen">
        <div header>Prevalence of non-native species</div>
        <div body> <app-common-chart05 [filterValues]="filterValues" *ngIf="accordionsProps[06].isOpen" exportTitle="Prevalence of non-native species"></app-common-chart05> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[07].isOpen">
        <div header>Top 10 non-native species</div>
        <div body> <app-common-chart04 [filterValues]="filterValues" *ngIf="accordionsProps[07].isOpen" exportTitle="Top 10 non-native species"></app-common-chart04> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[08].isOpen">
        <div header>Number and effectiveness of Aquatic Protected Areas</div>
        <div body> <app-country-chart01 [filterValues]="filterValues" *ngIf="accordionsProps[08].isOpen" exportTitle="Number and effectiveness of Aquatic Protected Areas"></app-country-chart01> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[9].isOpen">
        <div header>Number of in vivo and in vitro gene banks</div>
        <div body> <app-country-chart02 [filterValues]="filterValues" *ngIf="accordionsProps[9].isOpen" exportTitle="Number of in vivo and in vitro gene banks"></app-country-chart02> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[10].isOpen">
        <div header>Number of control measures applied</div>
        <div body><app-country-chart03 [filterValues]="filterValues" *ngIf="accordionsProps[10].isOpen" exportTitle="Number of control measures applied"></app-country-chart03></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[11].isOpen">
        <div header>Number of policies affecting AqGR</div>
        <div body><app-country-chart04 [filterValues]="filterValues" *ngIf="accordionsProps[11].isOpen" exportTitle="Number of policies affecting AqGR"></app-country-chart04></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[12].isOpen">
        <div header>Number of institutions supporting R&D on aquatic genetic resources</div>
        <div body><app-country-chart05 [filterValues]="filterValues" *ngIf="accordionsProps[12].isOpen" exportTitle="Number of institutions supporting R&D on aquatic genetic resources"></app-country-chart05></div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[13].isOpen">
        <div header>Proportion of education areas addressed by insitutions</div>
        <div body> <app-common-chart14 [filterValues]="filterValues" *ngIf="accordionsProps[13].isOpen" exportTitle="Proportion of education areas addressed by insitutions"></app-common-chart14> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[14].isOpen">
        <div header>Proportion of educational institutions offering training at different levels</div>
        <div body> <app-common-chart15 [filterValues]="filterValues" *ngIf="accordionsProps[14].isOpen" exportTitle="Proportion of educational institutions offering training at different levels"></app-common-chart15> </div>
    </app-accordion01>

    <app-accordion01 [(isOpen)]="accordionsProps[15].isOpen">
        <div header>Monitoring, characterising and developing AqGR</div>
        <div body> <app-country-table01 [filterValues]="filterValues" *ngIf="accordionsProps[15].isOpen"></app-country-table01> </div>
    </app-accordion01>


    <div class="row">
        <div class="col-1 offset-11">
            <ngx-scrolltop backgroundColor="#0d6cac"></ngx-scrolltop>
        </div>
    </div>

</div>


