/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

button.scrolltop-button {
    right: inherit !important;
}
.material-icons {
    font-size: 18px;
}
.text-faoblue {
    color: #0D6CAC;
}
